<a href="https://colab.research.google.com/github/DanTran12/Danny_DTSC3020_Fall2025/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
#Part 1
fruits = ["Apple","Orange","Pear"]
print(fruits[0])
print(fruits[1])
print(fruits[2])
#Part 2
Names = ["Alex","Joel","Cody","James"]
Names[0]="Dylan"
print(Names)
#Part 3
Vehicles = ["Plane","Car","Bus","Bike","Cart"]
Vehicles.append("Skateboard")
print(Vehicles)
#Part 4
foods = ["Candy","Fruits","Pasta","Bread","Meats","Vegetables"]
foods.remove("Pasta")
print(foods)
#Part 5
cities= ["Dallas","Forth Worth","Irving","Denton"]
cities.sort()
print(cities)
cities.sort(reverse=True)
print(cities)
#Part 6
animals = ["cat","dog","bird"]
for animal in animals:
  print(animal)
#Part 7
numbers = [1,2,3,4,5]
for number in numbers:
  num_times_2 = number*2
  print(num_times_2)
#Part 8
friends = ["Alex","Cody","Gabriel","Anna","Chelsea","Tyler"]
print(friends[0:3])
print(friends[3:7])
#Part 9
one_to_ten = list(range(1,11))
print(one_to_ten)
#Part 10
squares = [num**2 for num in range(1,6)]
print(squares)

Apple
Orange
Pear
['Dylan', 'Joel', 'Cody', 'James']
['Plane', 'Car', 'Bus', 'Bike', 'Cart', 'Skateboard']
['Candy', 'Fruits', 'Bread', 'Meats', 'Vegetables']
['Dallas', 'Denton', 'Forth Worth', 'Irving']
['Irving', 'Forth Worth', 'Denton', 'Dallas']
cat
dog
bird
2
4
6
8
10
['Alex', 'Cody', 'Gabriel']
['Anna', 'Chelsea', 'Tyler']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25]