<a href="https://colab.research.google.com/github/DanTran12/Danny_DTSC3020_Fall2025/blob/main/Assignment4_(ch_6)__(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DTSC 3020 – Assignment 4
Chapter 6 – Dictionaries

Total points: 4

Deadline: Friday at midnight

Submission: Upload your Python file to your GitHub repository and submit only your GitHub link.


Expectations
Write complete answers and run all cells before submission.
Keep the notebook clean (no unnecessary code).

Exercise  1: Find and print the student with the lowest grade.

In [11]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

# Write your code here:
lowest_grade = min(grades.values())
for name, grade in grades.items():
  if grade == lowest_grade:
    print(name, "has the lowest grade")

Omid has the lowest grade

Exercise 2: print names of students who registered for any course containing "Data"

In [10]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Data Mining', 'Chemistry'],
    'Reza': ['Machine Learning', 'Data Science'],
    'Lina': ['English', 'History']
}

# Write your code here:
for name, course in courses.items():
  for c in course:
    if "Data" in c:
      print(name, "has a data class!")

Sara has a data class!
Reza has a data class!

Exercise 3: Print titles of books that are not available.

In [9]:
library = {
    'Python101': {'pages': 180, 'available': True},
    'AI Basics': {'pages': 130, 'available': False},
    'Math Advanced': {'pages': 200, 'available': False},
    'Statistics': {'pages': 175, 'available': True}
}

# Write your code here:
for title, book in library.items():
  if book['available'] == False:
    print(title, "is unavaliable")

AI Basics is unavaliable
Math Advanced is unavaliable

Exercise 4: Print names of students who are registered for more than 2 courses.

In [8]:

registrations = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry', 'Math'],
    'Reza': ['English'],
    'Lina': ['History', 'Physics', 'Geography', 'Art']
}

# Write your code here:
for student, courses in registrations.items():
  if len(courses) > 2:
    print(student, "has 2 or more classes")

Sara has 2 or more classes
Lina has 2 or more classes

Exercise 5: Calculate and print the average grade of the class.

In [6]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

# Write your code here:
average = sum(grades.values())/len(grades)
print("Student Average:", average)

Student Average: 18.1

Exercise 6: Count and print the number of students registered for "Python".

In [14]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

# Write your code here:
count = 0
for name, course in courses.items():
  for title in course:
    if title == "Python":
      count += 1

print("Students with Python classes:", count)

Students with Python classes: 3

Exercise 7: Print titles of books with more than 200 pages.

In [16]:
book_pages = {
    'Python101': 180,
    'AI Basics': 230,
    'Math Advanced': 250,
    'Statistics': 190,
    'Data Science': 300
}


# write your answer here
for title, pages in book_pages.items():
  if pages > 200:
    print(title, "has more than 200 pages")

AI Basics has more than 200 pages
Math Advanced has more than 200 pages
Data Science has more than 200 pages

Exercise 8: Print each student's name and number of registered courses.

In [17]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

# Write your code here:
for name, course in courses.items():
  print(name, "has", len(course), "courses")

Ali has 2 courses
Sara has 2 courses
Reza has 2 courses
Lina has 2 courses
Omid has 1 courses